*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    /* background-color: grey; */
    font-family: poppins;
}

nav {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 32px 24px 32px 24px;
}

.colmar {
    color: rgb(65 65 65);
}

.academy {
    color: rgb(142 142 142);
    font-weight: lighter;
}

.links {
    background-color: white;
    margin-left: auto;
    margin-right: 16px;
    font-weight: light;
}

a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: gold;
}

.mainbody {
    background-color: rgb(211 211 211);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    text-align: left;
}

.mainbody img {
    width: 60%;
    padding: 32px 24px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h1 {
    font-size: 2.3rem;
    max-width: 400px;
    margin-top: 0;
    padding: 1rem;
}

.content h3 {
    font-size: 1.2rem;
    max-width: 400px;
    padding: 1rem;
}

button {
    background-color: rgb(65 65 65);
    color: white;
    width: 50%;
    height: 60px;
    font-size: 1.5rem;
    border-radius: 12px;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
}

button:hover {
    background-color: salmon;
    transition: 0.7s;
}

.childbody {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    background-color: white;
}

.left-body {
    flex-basis: 60%;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
}

.left-body img {
    width: 100%;
}

.left-body h1,
.left-body p {
    margin-top: auto;
}

.left-body p:last-child {
    padding-bottom: 32px;
}

.right-body {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
}

.right-body .info-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.right-body img {
    width: 35%;
    height: auto;
}

.right-body .text-container {
    display: flex;
    flex-direction: column;
}

.right-body h2,
.right-body h3,
.right-body a {
    margin: 0;
}

.info-container{
    padding: 32px;
}