*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}
body {
    background-color: grey;
    font-family: poppins;
}
.navbar{
    display: flex;
    align-items: center;
    border: dotted red;
    justify-content: space-between;
    padding: 32px 0px 32px 0px;
    background-color: white;
}

.logo h1 .firstword{
    color: blue
}

.logo h1 .secondword{
    color: red;
}

.logo{
    height:auto;
    margin-right: 24px;
    display:flex;
    border: solid blue;
    align-items: center;
    padding-left: 24px;

}

.links{
    border: solid green;
    padding-right: 24px;
    margin-right:16px;
    font-size: large;
}

a:link{
    color: yellow;
}

.starthere{
    border: solid blueviolet;
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    background-color: rgb(211 211 211);
}

.banner {
    display:flex;
    object-fit: contain;
    padding: 32px 24px 32px 24px;
    border:solid orange;
    height: auto;
    width: 100%;
}
.banner img{
    width: 100%;
}

.row {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid snow
}

.row h1{
    color: aliceblue;
    font-size: 3.5em;
    align-items: center;
    justify-content: center;
    width:70%
}

.row h2{
    color:aquamarine;
    width: 70%;
}

.starthere  button{
    color: white;
    width: 70%;
    height: 10%;
    font-size: x-large;
    background-color: rgb(65 65 65);
}

.middle {
    display:flex;
    
    border: solid green;
}

.infomain{
    padding: 32px 24px 32px 24px;
    width: 60%
}

.infomain h1{
    padding-bottom: 24px;
}

.middle img{
    width:100%;
}

.middle-right {
    display: flex;
    flex-direction: column;
}

.info-item {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

.image-container {
    margin-bottom: 10px;

}

.text-container {
    display: flex;
    flex-wrap: row wrap;
}

/* Go back edit up  */

.course {
    display: grid;
    border: dotted white;
    

}

.choice{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 32px;
    padding: 32px 72px;
    border: dotted black;
}

.learn{
    display: grid;
    justify-content: center;
    padding: 32px 
}

.choice img{
    padding: 16px;
    height:auto;
    width: 100%;
    border :solid blue
}

.choice h1{
    border: solid red;
}

.choice h3{
    border: solid yellow;
}